{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-content"><!-- .page-content -->
        <ol class="breadcrumb"><!-- .breadcrumb -->
            <li class="">
                <a href="{{path('homepage')}}">Inicio</a>
            </li>
            <li class="active">
                <a href="{{ path('cliente_index') }}">Clientes</a>
            </li>
        </ol><!-- /.breadcrumb -->

        <div class="container-fluid"><!-- .container-fluid -->
            {% if cliente.tipo == "empresa" %}
            <div class="row"><!-- .row -->
                <div class="col-md-12 profile-area2"><!-- .col -->
                    <div class="media col-md-6 col-sm-6 col-xs-6"><!-- .media -->
                        <a class="media-left pr-n" href="#"><!-- .media-left -->
                            <img class="media-object img-resposnive" src="{{asset('img/avatar/default.jpg')}}" alt="Generic placeholder image" width='88' height='88'>
                        </a><!-- /.media-left -->
                        <div class="media-body pl-xl"><!-- .media-body -->
                            <h4 class="media-heading">
                                {{ cliente.empresa }}
                            </h4>
                            <i class="fa fa-user"></i>
                            {{ cliente.nombre }} {{cliente.apellido}}<br />
                            <i>ID</i> {{ cliente.identificacion }}<br />
                            <i class="fa fa-phone"></i>
                            {{ cliente.telefono }} -
                            {{ cliente.telefonoOpc }}<br/>
                            <i class="fa fa-birthday-cake"></i>
                            {% if cliente.fechaNacimiento %}{{ cliente.fechaNacimiento|date('Y-m-d') }}{% endif %}
                        </div><!-- /.media-body -->
                    </div><!-- /.media -->
                    <div class="media col-md-6 col-sm-6 col-xs-6">
                        <h4 class="media-heading">Estado de cuenta:</h4>
                        {% if creditos|length != 0 %}
                            {% for credito in creditos %}
                                <p>Orden de produccion {{ credito.numero }} a credito</p>
                            {% endfor %}
                        {% else %}
                            <p>El Cliente no tiene deudas</p>
                        {% endif %}
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            {% else %}
            <div class="row"><!-- .row -->
                <div class="col-md-12 profile-area"><!-- .col -->
                    <div class="media col-md-6 col-sm-6 col-xs-6"><!-- .media -->
                        <a class="media-left pr-n" href="#"><!-- .media-left -->
                            <img class="media-object img-resposnive" src="{{asset('img/avatar/default.jpg')}}" alt="Generic placeholder image" width='88' height='88'>
                        </a><!-- /.media-left -->
                        <div class="media-body pl-xl"><!-- .media-body -->
                            <h4 class="media-heading">
                                {{ cliente }}
                            </h4>
                            <i class="fa fa-envelope"></i>
                            {{ cliente.correo }}<br />
                            <i>ID</i> {{ cliente.identificacion }}<br />
                            <i class="fa fa-phone"></i>
                            {{ cliente.telefono }} -
                            {{ cliente.telefonoOpc }}<br />
                            <i class="fa fa-birthday-cake"></i>
                            {% if cliente.fechaNacimiento %}{{ cliente.fechaNacimiento|date('Y-m-d') }}{% endif %}
                        </div><!-- /.media-body -->
                    </div><!-- /.media --> 
                    <div class="media col-md-6 col-sm-6 col-xs-6">
                        <h4 class="media-heading">Estado de cuenta:</h4>
                        {% if creditos|length != 0 %}
                            {% for credito in creditos %}
                                <p>Orden de produccion {{ credito.numero }} a credito</p>
                            {% endfor %}
                        {% else %}
                            <p>El Cliente no tiene deudas</p>
                        {% endif %}
                    </div>                   
                </div><!-- /.col -->
            </div><!-- /.row -->
            {% endif %}

            <p class="text-right">
                <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}" class="btn btn-primary btn-raised" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}" class="btn btn-default btn-raised" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="fa fa-trash"></i>
                </a>
                <a href="{{ path('acceso_pedido') }}" class="btn btn-inverse btn-raised" data-toggle="tooltip" data-placement="top" title="Regresar">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="{{ path('pedido_new', {'idCliente': cliente.id})}}" class="btn btn-primary btn-raised" data-toggle="tooltip" data-placement="top" title="Pedido">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="{{ path('referencia_new', {'idCliente': cliente.id})}}" class="btn btn-info btn-raised" data-toggle="tooltip" data-placement="top" title="Referencia">
                    <i class="fa fa-star"></i>
                </a>
            </p>

            <div class="col-md-6"><!-- .col -->
                <div class="panel panel-default"><!-- .panel -->
                    <div class="panel-body"><!-- .panel-body -->
                        {% if cliente.pedidos|length != 0 %}
                        <div class="table-responsive"><!-- .table-responsive -->
                            <table class="table table table-striped table-bordered table-data"><!-- .table -->
                                <thead>
                                    <tr>
                                        <th colspan="4" style="text-align:center;">Pedidos Realizados por el cliente</th>
                                    </tr>
                                    <tr>
                                        <th>Número de Pedido</th>
                                        <th>Detalle(s)</th>
                                        <th>Fecha</th>
                                        <th>Precio Total</th>
                                    </tr>  
                                </thead>
                                <tbody>
                                    {% for pedido in cliente.pedidos %}
                                        <tr>             
                                            <td>
                                                <a href="{{ path('pedido_show', { 'id': pedido.id }) }}">{{pedido.numero}}</a>
                                            </td>
                                            <td>
                                                <div style="max-height:75px;overflow:auto;" class="card-body">
                                                {% if pedido.ordenProduccion|length != 0 %}
                                                    <ul>
                                                        {% for ordenProduccion in pedido.ordenProduccion %}
                                                            {% for ordenProduccionDetalle in ordenProduccion.ordenProduccionDetalle %}
                                                                <li>{{ordenProduccionDetalle.detalle}}</li>
                                                            {% endfor %}
                                                        {% endfor %}
                                                        {% for venta in pedido.venta %}
                                                            <li>{{venta.articulo}}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                </div>
                                            </td>
                                            <td>
                                                {{ pedido.createdAt|date('Y-m-d') }}
                                            </td>
                                            <td>                                                
                                                $ {{pedido.total|number_format(2, ',', '.')}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table><!-- /.table -->
                        </div><!-- /.table-responsive -->
                        {% else %}
                            <h2 class="text-center text-danger">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No ha realizado pedidos.
                            </h2>
                        {% endif %}
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->                        
            </div><!-- /.col -->

            <div class="col-md-6"><!-- .col -->
                <div class="panel panel-default"><!-- .panel -->
                    <div class="panel-body"><!-- .panel-body -->
                        {% if cliente.referencias|length != 0 %}
                        <div class="table-responsive"><!-- .table-responsive -->
                            <h3 class="text-center">Listado de Preferidos</h3><br>                 
                            {% for referencia in cliente.referencias %}
                                <div class="col-xs-12 col-sm-3 text-center">
                                    <img src="{{asset('img/avatar/default.jpg')}}" class="img-responsive img-circle"><br>
                                    <a href="{{path('referencia_show',{'id':referencia.id})}}" class="findReferencia">{{ referencia | title }}</a><br>
                                    {{ referencia.parentesco }}<br>
                                    {% if referencia.fechaEspecial %}{{ referencia.fechaEspecial|date('Y-m-d') }}{% endif %}<br>
                                    <div class="btn-group">
                                        <a href="{{path('referencia_show',{'id':referencia.id})}}" class="btn btn-default btn-raised btn-xs">
                                            <i class="fa fa-check"></i>
                                        </a>
                                        <a href="{{path('referencia_edit',{'id':referencia.id})}}" class="btn btn-default btn-raised btn-xs">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>
                                </div>                              
                            {% endfor %}
                        </div><!-- /.table-responsive -->
                        {% else %}
                            <h2 class="text-center text-danger">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No se han registrado referencias.
                            </h2>
                        {% endif %}
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
            </div>

            <div class="col-md-12"><!-- .col -->
                <div class="panel panel-default"><!-- .panel -->
                    <div class="panel-body"><!-- .panel-body -->
                        
                        {% if cliente.pedidos|length != 0 %}
                            {% set prompedidos = 0 %} {% set sumtotal = 0 %}
                            {% for pedido in cliente.pedidos %}
                                {% set sumtotal =sumtotal + pedido.total %}
                            {% endfor %}
                            {% set prompedidos = sumtotal / cliente.pedidos|length %}
                            Promedio de pedidos: {{prompedidos|number_format(2, ',', '.')}}<br>
                            {% for pedido in cliente.pedidos %}
                                {% for ordenProduccion in pedido.ordenProduccion %}
                                    {#{% for ordenProduccionDetalle in ordenProduccion.ordenProduccionDetalle %}#}
                                        <li>{{ ordenProduccion.ordenProduccionDetalle|length }}</li>
                                    {#{% endfor %}#}
                                {% endfor %}
                            {% endfor %}
                        {% else %}
                            <h5 class="text-center text-danger">No hay graficas que mostrar.</h5>
                        {% endif %}   

                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
            </div><!--row-->
        </div><!-- /.container-fluid -->
    </div><!-- /.page-content -->
{% endblock %}



