{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-content"><!-- .page-content -->
        <ol class="breadcrumb"><!-- .breadcrumb -->
            <li class="">
                <a href="{{path('homepage')}}">Inicio</a>
            </li>
            <li class="">
                <a href="{{path('horario_index')}}">Prioridades</a>
            </li>
            <li class="active">Crear</li>
        </ol><!-- /.breadcrumb -->
        <div class="page-heading"><!-- .page-heading -->
            <h1>Prioridad
                <small>Crear</small>
            </h1>
            <div class="options">
                <a href="{{ path('prioridad_index') }}" class="btn btn-info btn-raised" data-toggle="tooltip" data-placement="top" title="Volver al listado">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
        </div><!-- /.page-heading -->
        
        <div class="container-fluid"><!-- .container-fluid -->
            <div class="row"><!-- .row -->
                <div class="col-sm-4"><!-- .col -->
                    <div class="panel panel-primary" data-widget='{"draggable": "false"}'><!-- .panel -->
                        <div class="panel-heading">
                            <h2>Formulario</h2>
                        </div>
                        <div class="panel-body"><!-- .panel-body -->
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Nombre:</label>
                                            {{ form_widget(form.nombre, { 'attr': {'class':'form-control','autofocus':'autofocus' }}) }}
                                        </div>
                                    </div>                                    

                                    <div class="col-sm-6">
                                        <div class="form-group input-icon right">
                                            <label>Color:</label>
                                            <i class="fa fa-chevron-down"></i>
                                            {{ form_widget(form.color, { 'attr': {'class':'form-control text-color', 'value':'#00000'}}) }}
                                        </div>
                                    </div>

                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Rango:</label>
                                            {{ form_widget(form.rango, { 'attr': {'class':'form-control'}}) }}
                                        </div>
                                    </div>
                                </div>                        

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-raised">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            {{ form_end(form) }}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.page-content -->
{% endblock %}