{% extends 'frontend.html.twig' %}

{% block content %}
	<div class="page-content">
		<ol class="breadcrumb">
			<li class="">
				<a href="index.html">Inicio</a>
			</li>
			<li class="active">
				<a href="index.html">Escritorio</a>
			</li>
		</ol>
		<div class="page-heading">            
			<h1>Escritorio
				<small>Novedades</small>
			</h1>
			<div class="options">
				<a href="#" class="btn btn-primary btn-raised" data-toggle="tooltip" data-placement="top" title="Añadir Pedido" >
                    <i class="fa fa-cart-plus" data-toggle="modal" data-target="#modal-cliente"></i>
                </a>
                <a href="{{ path('pedido_index') }}" class="btn btn-warning btn-raised" data-toggle="tooltip" data-placement="top" title="Buscar Pedido">
                    <i class="fa fa-search"></i>
                </a>
			</div>
		</div>

        	
		<div class="container-fluid">
			<div class="row"><!-- .row -->

                <div class="col-xs-12 col-md-3"><!-- .col -->
                    <div class="panel panel-midnightblue" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Ordenes de Produccion <span class="bagde">{{ ordenProduccionDetalles|length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                            {% if ordenProduccionDetalles|length != 0 %}
                            <table class="table table-data">
                                <thead>
                                    <tr>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ordenProduccionDetalle in ordenProduccionDetalles %}
                                        <tr>
                                            <td>
                                                <div class="col-xs-8"><!-- .col -->
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.numero }}</small><br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.pedido.cliente }}</small><br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small><br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.direccionEntrega }}</small><br>
                                                    <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small><br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small><br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.horario }}</small><br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.tipoPago }}</small>
                                                    <br>
                                                    
                                                </div><!-- /.col -->
                                                <div class="col-xs-4 text-center" ><!-- .col -->
                                                    <a href="{{path('pedido_show',{'id':ordenProduccionDetalle.ordenProduccion.pedido.id})}}" class="btn btn-raised" style="background-color:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}}">
                                                        <i class="fa fa-chevron-right fa-2x"></i>
                                                    </a>
                                                    <div class="row">
                                                        <div id="tiempo">
                                                            Mostrar tiempo restante
                                                        </div>
                                                    </div>
                                                </div><!-- /.col -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h1 class="text-center">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No existen registros.
                            </h1>
                            {% endif %}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-md-3"><!-- .col -->
                    <div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Produccion <span class="bagde">{{ ordenProduccionDetalleProduccion|length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                            {% if ordenProduccionDetalleProduccion|length != 0 %}
                            <table class="table table-data">
                                <thead>
                                    <tr>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ordenProduccionDetalle in ordenProduccionDetalleProduccion %}
                                        <tr>
                                            <td>
                                                <div class="col-xs-8"><!-- .col -->
                                                    <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                                    <br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                                    <br>
                                                    <strong>Detalle:</strong>
                                                    <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                                    <br>
                                                    <strong>Estado:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                                    <br>
                                                    <strong>Prioridad:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                                </div><!-- /.col -->
                                                <div class="col-xs-4 text-center"><!-- .col -->
                                                    <a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
                                                        <i class="fa fa-chevron-right fa-2x"></i>
                                                    </a>                         
                                                </div><!-- /.col -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h1 class="text-center">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No existen registros.
                            </h1>
                            {% endif %}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-md-3"><!-- .col -->
                    <div class="panel panel-blue" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Terminada <span class="bagde">{{ ordenProduccionDetalleTerminada|length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                            {% if ordenProduccionDetalleTerminada|length != 0 %}
                            <table class="table table-data">
                                <thead>
                                    <tr>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ordenProduccionDetalle in ordenProduccionDetalleTerminada %}
                                        <tr>
                                            <td>
                                                <div class="col-xs-8"><!-- .col -->
                                                    <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                                    <br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                                    <br>
                                                    <strong>Detalle:</strong>
                                                    <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                                    <br>
                                                    <strong>Estado:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                                    <br>
                                                    <strong>Prioridad:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                                </div><!-- /.col -->
                                                <div class="col-xs-4 text-center"><!-- .col -->
                                                    <a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
                                                        <i class="fa fa-chevron-right fa-2x"></i>
                                                    </a>                                                    
                                                </div><!-- /.col -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h1 class="text-center">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No existen registros.
                            </h1>
                            {% endif %}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-md-3"><!-- .col -->
                    <div class="panel panel-teal" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Entregada <span class="bagde">{{ ordenProduccionDetalleEntregada|length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                            {% if ordenProduccionDetalleEntregada|length != 0 %}
                            <table class="table table-data">
                                <thead>
                                    <tr>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ordenProduccionDetalle in ordenProduccionDetalleEntregada %}
                                        <tr>
                                            <td>
                                                <div class="col-xs-8"><!-- .col -->
                                                    <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                                    <br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                                    <br>
                                                    <strong>Detalle:</strong>
                                                    <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                                    <br>
                                                    <strong>Estado:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                                    <br>
                                                    <strong>Prioridad:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                                </div><!-- /.col -->
                                                <div class="col-xs-4 text-center"><!-- .col -->
                                                    <a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
                                                        <i class="fa fa-chevron-right fa-2x"></i>
                                                    </a>                                                   
                                                </div><!-- /.col -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h1 class="text-center">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No existen registros.
                            </h1>
                            {% endif %}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->

            </div><!-- /.row -->


            <div class="modal fade" tabindex="-1" role="dialog" id="modal-cliente">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Buscar Cliente</h4>
                  </div>
                  <form id="form-cliente" method="post">
                      <div class="modal-body">
                            <label class="control-label">Identificación</label>
                            <input type="number" name="textIdentificacion" id="text-id" class="form-control" required >
                            <div class="display-none" id="div-cliente">
                                <hr>
                                <a href="{{path('cliente_new')}}" class="btn btn-inverse btn-raised">Crear Cliente</a>
                            </div>
                            <div class="display-none" id="div-cliente-ok">
                                <hr>
                                <div class="col-xs-12 col-sm-3 text-center">
                                    <img src="{{asset('img/avatar/default.jpg')}}" class="img-responsive img-circle"><br>
                                    <a id="nombre" href="#"></a><br>
                                    <span id="identificacion" ></span>
                                </div>
                                {#<a href="#" class="btn btn-inverse btn-raised" id="newPedido">Crear Pedido</a>#}
                            </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-default btn-raised" name="btn-pin" data-url="{{path('comercial_valida_cliente')}}" id="btn-buscar">
                             Buscar
                        </button>
                      </div>
                </form>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

		</div> <!-- /.container-fluid -->
	</div> <!-- #page-content -->
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

    $('#btn-buscar').click(function(e){
        e.preventDefault();
        var url = $(this).data('url');
        var formData = $( "#form-cliente" ).serialize();
            
        $.ajax({
            type: 'POST',
            url: url,
            data : formData,
            dataType : 'json',
            success: function(data) {
                $.each(data,function(i,item){                    
                    validateId(item);
                });
            },
            error: function() {
                console.log('Error!');
            }
        });                     
    });

    function validateId(item){       
        var url="{{ path('cliente_show', { 'id': 'cliente' }) }}";
        var url=url.replace('cliente',item.idCliente);
        alert(url);
        if (item.ban == true) {
            $('#identificacion').text(item.ced);
            $('#nombre').text(item.named)
            $('#div-cliente-ok').fadeIn('slow');
            $('#div-cliente').fadeOut('fast');
            //Reemplazar href por url
            $("#nombre").attr("href", url);
        }else{
            $('#div-cliente').fadeIn('slow');
            $('#div-cliente-ok').fadeOut('fast');
        }
    }    

    </script>
{% endblock %}