{% extends 'frontend.html.twig' %}

{% block content %}
	<div class="page-content">
		<ol class="breadcrumb">
			<li class="">
				<a href="index.html">Inicio</a>
			</li>
			<li class="active">
				<a href="index.html">Escritorio</a>
			</li>
		</ol>
		<div class="page-heading">            
			<h1>Escritorio
				<small>Novedades</small>
			</h1>
			<div class="options">
				{% if is_granted('ROLE_COM') or is_granted('ROLE_ADMIN') %}
				<a href="{{ path('acceso_pedido') }}" class="btn btn-primary btn-raised" data-toggle="tooltip" data-placement="top" title="Añadir Pedido">
                    <i class="fa fa-cart-plus"></i>
                </a>
                <a href="{{ path('pedido_index') }}" class="btn btn-warning btn-raised" data-toggle="tooltip" data-placement="top" title="Buscar Pedido">
                    <i class="fa fa-search"></i>
                </a>
				{% endif %}
			</div>
		</div>
		
		<div class="container-fluid"><!-- .container-fluid -->
		    <div class="row"><!-- .row -->

		    	<div class="col-xs-12 col-md-3"><!-- .col -->
		    		<div class="panel panel-midnightblue" data-widget="{'draggable':'false'}"><!-- .panel -->
		    			<div class="panel-heading"><!-- .panel-heading -->
		    				<h2>Pedidos <span class="bagde">{{ pedidos|length }}</span></h2>
		    			</div><!-- /.panel-heading -->
		    			<div class="panel-body"><!-- .panel-body -->
		    				{% if pedidos|length != 0 %}
				    		<table class="table table-data">
				    			<thead>
				    				<tr>
				    					<th>Detalles</th>
				    				</tr>
				    			</thead>
				    			<tbody>
				    				{% for pedido in pedidos %}
				    					<tr>
				    						<td>
						    					<div class="col-xs-8"><!-- .col -->
				    				    			<strong>{{ pedido.numero }}</strong>
				    				    			<br>
					    				    		<small>{{ pedido.cliente }}</small>
				    				    		</div><!-- /.col -->
				    				    		<div class="col-xs-4 text-center"><!-- .col -->
				    				    			<a href="{{path('pedido_show',{'id':pedido.id})}}" class="btn btn-raised">
				    				    				<i class="fa fa-chevron-right fa-2x"></i>
				    				    			</a>
				    				    			
				    				    		</div><!-- /.col -->
						    				</td>
				    					</tr>
				    				{% endfor %}
				    			</tbody>
				    		</table>
				    		{% else %}
		                    <h1 class="text-center">
		                        <i class="fa fa-exclamation-triangle fa-2x"></i>
		                        <br>
		                        No existen registros.
		                    </h1>
		                    {% endif %}
		    			</div><!-- /.panel-body -->
		    		</div><!-- /.panel -->
		    	</div><!-- /.col -->

		    	<div class="col-xs-12 col-md-3"><!-- .col -->
		    		<div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
		    			<div class="panel-heading"><!-- .panel-heading -->
		    				<h2>Asignadas <span class="bagde">{{ ordenProduccionDetalleAsignada|length }}</span></h2>
		    			</div><!-- /.panel-heading -->
		    			<div class="panel-body"><!-- .panel-body -->
		    				{% if ordenProduccionDetalleAsignada|length != 0 %}
				    		<table class="table table-data">
				    			<thead>
				    				<tr>
				    					<th>Detalles</th>
				    				</tr>
				    			</thead>
				    			<tbody>
				    				{% for ordenProduccionDetalle in ordenProduccionDetalleAsignada %}
				    				    <tr>
				    				    	<td>
				    				    		<div class="col-xs-8"><!-- .col -->
				    				    			<strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
				    				    			<br>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
					    				    		<br>
					    				    		<strong>Detalle:</strong>
					    				    		<small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
					    				    		<br>
					    				    		<strong>Estado:</strong>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
					    				    		<br>
					    				    		<strong>Prioridad:</strong>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
				    				    		</div><!-- /.col -->
				    				    		<div class="col-xs-4 text-center"><!-- .col -->
				    				    			<a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
				    				    				<i class="fa fa-chevron-right fa-2x"></i>
				    				    			</a>
				    				    			
				    				    		</div><!-- /.col -->
				    				    	</td>
				    				    </tr>
				    				{% endfor %}
				    			</tbody>
				    		</table>
				    		{% else %}
		                    <h1 class="text-center">
		                        <i class="fa fa-exclamation-triangle fa-2x"></i>
		                        <br>
		                        No existen registros.
		                    </h1>
		                    {% endif %}
		    			</div><!-- /.panel-body -->
		    		</div><!-- /.panel -->
		    	</div><!-- /.col -->

		    	<div class="col-xs-12 col-md-3"><!-- .col -->
		    		<div class="panel panel-blue" data-widget="{'draggable':'false'}"><!-- .panel -->
		    			<div class="panel-heading"><!-- .panel-heading -->
		    				<h2>Produccion y Terminada <span class="bagde">{{ ordenProduccionDetalleProduccionTerminada|length }}</span></h2>
		    			</div><!-- /.panel-heading -->
		    			<div class="panel-body"><!-- .panel-body -->
		    				{% if ordenProduccionDetalleProduccionTerminada|length != 0 %}
				    		<table class="table table-data">
				    			<thead>
				    				<tr>
				    					<th>Detalles</th>
				    				</tr>
				    			</thead>
				    			<tbody>
				    				{% for ordenProduccionDetalle in ordenProduccionDetalleProduccionTerminada %}
				    				    <tr>
				    				    	<td>
				    				    		<div class="col-xs-8"><!-- .col -->
				    				    			<strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
				    				    			<br>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
					    				    		<br>
					    				    		<strong>Detalle:</strong>
					    				    		<small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
					    				    		<br>
					    				    		<strong>Estado:</strong>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
					    				    		<br>
					    				    		<strong>Prioridad:</strong>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
				    				    		</div><!-- /.col -->
				    				    		<div class="col-xs-4 text-center"><!-- .col -->
				    				    			<a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
				    				    				<i class="fa fa-chevron-right fa-2x"></i>
				    				    			</a>
				    				    			
				    				    		</div><!-- /.col -->
				    				    	</td>
				    				    </tr>
				    				{% endfor %}
				    			</tbody>
				    		</table>
				    		{% else %}
		                    <h1 class="text-center">
		                        <i class="fa fa-exclamation-triangle fa-2x"></i>
		                        <br>
		                        No existen registros.
		                    </h1>
		                    {% endif %}
		    			</div><!-- /.panel-body -->
		    		</div><!-- /.panel -->
		    	</div><!-- /.col -->

		    	<div class="col-xs-12 col-md-3"><!-- .col -->
		    		<div class="panel panel-teal" data-widget="{'draggable':'false'}"><!-- .panel -->
		    			<div class="panel-heading"><!-- .panel-heading -->
		    				<h2>Despacho y Entregada <span class="bagde">{{ ordenProduccionDetalleDespachoEntregada|length }}</span></h2>
		    			</div><!-- /.panel-heading -->
		    			<div class="panel-body"><!-- .panel-body -->
		    				{% if ordenProduccionDetalleDespachoEntregada|length != 0 %}
				    		<table class="table table-data">
				    			<thead>
				    				<tr>
				    					<th>Detalles</th>
				    				</tr>
				    			</thead>
				    			<tbody>
				    				{% for ordenProduccionDetalle in ordenProduccionDetalleDespachoEntregada %}
				    				    <tr>
				    				    	<td>
				    				    		<div class="col-xs-8"><!-- .col -->
				    				    			<strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
				    				    			<br>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
					    				    		<br>
					    				    		<strong>Detalle:</strong>
					    				    		<small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
					    				    		<br>
					    				    		<strong>Estado:</strong>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
					    				    		<br>
					    				    		<strong>Prioridad:</strong>
					    				    		<small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
				    				    		</div><!-- /.col -->
				    				    		<div class="col-xs-4 text-center"><!-- .col -->
				    				    			<a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
				    				    				<i class="fa fa-chevron-right fa-2x"></i>
				    				    			</a>
				    				    			
				    				    		</div><!-- /.col -->
				    				    	</td>
				    				    </tr>
				    				{% endfor %}
				    			</tbody>
				    		</table>
				    		{% else %}
		                    <h1 class="text-center">
		                        <i class="fa fa-exclamation-triangle fa-2x"></i>
		                        <br>
		                        No existen registros.
		                    </h1>
		                    {% endif %}
		    			</div><!-- /.panel-body -->
		    		</div><!-- /.panel -->
		    	</div><!-- /.col -->

		    </div><!-- /.row -->
		</div><!-- /.container-fluid -->
	</div> <!-- #page-content -->
{% endblock %}