{% extends 'frontend.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        .form-group .form-control {
        margin-left: -36px !important;
    }
    </style>
    
{% endblock %}

{% block content %}
	<div class="page-content">
		<ol class="breadcrumb">
			<li class="">
				<a href="index.html">Inicio</a>
			</li>
			<li class="active">
				<a href="index.html">Escritorio</a>
			</li>
		</ol>
		<div class="page-heading">            
			<h1>Escritorio
				<small>Novedades</small>
			</h1>
		</div>
		
		<div class="container-fluid">
			<div class="row"><!-- .row -->

                <div class="col-xs-12 col-md-3"><!-- .col -->

                    {% if getOrdenProduccionDetalleEntregadaZonaNorte |length != 0 %}
                    <div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Terminada Zona Norte <span class="bagde">{{ getOrdenProduccionDetalleEntregadaZonaNorte| length }}</span></h2>

                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                        
                                <ol data-draggable="target" class="list-homepage">
                                    {% for ordenProduccionDetalle in getOrdenProduccionDetalleEntregadaZonaNorte %}
                                    <li data-draggable="item" data-id="{{ordenProduccionDetalle.id}}">

                                        <p style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};height:5px;"></p>
                                        <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                        <br>
                                        <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                        <br>
                                        <strong>Detalle:</strong>
                                        <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                        <br>
                                        <strong>Estado:</strong>
                                        <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                        <br>
                                        <strong>Prioridad:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                        <br>
                                        <strong>Zona:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.zonaEnvio.nombre }}</small>
                                            
                                        <hr>
                                    </li>
                                    {% endfor %}
                                </ol>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    {% endif %}


                    {% if OrdenProduccionDetalleEntregadaZonaSur|length != 0 %}
                    <div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Terminada Zona Sur <span class="bagde">{{ OrdenProduccionDetalleEntregadaZonaSur| length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                        
                                <ol data-draggable="target" class="list-homepage">
                                    {% for ordenProduccionDetalle in OrdenProduccionDetalleEntregadaZonaSur %}
                                    <li data-draggable="item" data-id="{{ordenProduccionDetalle.id}}">

                                        <p style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};height:5px;"></p>
                                        <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                        <br>
                                        <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                        <br>
                                        <strong>Detalle:</strong>
                                        <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                        <br>
                                        <strong>Estado:</strong>
                                        <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                        <br>
                                        <strong>Prioridad:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                        <br>
                                        <strong>Zona:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.zonaEnvio.nombre }}</small>
                                            
                                        <hr>
                                    </li>
                                    {% endfor %}
                                </ol>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                   {% endif %}

                   {% if OrdenProduccionDetalleEntregadaZonaPeriferico|length != 0 %}
                    <div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Terminada Zona Periferico <span class="bagde">{{ OrdenProduccionDetalleEntregadaZonaPeriferico| length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                        
                                <ol data-draggable="target" class="list-homepage">
                                    {% for ordenProduccionDetalle in OrdenProduccionDetalleEntregadaZonaPeriferico %}
                                    <li data-draggable="item" data-id="{{ordenProduccionDetalle.id}}">

                                        <p style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};height:5px;"></p>
                                        <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                        <br>
                                        <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                        <br>
                                        <strong>Detalle:</strong>
                                        <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                        <br>
                                        <strong>Estado:</strong>
                                        <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                        <br>
                                        <strong>Prioridad:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                        <br>
                                        <strong>Zona:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.zonaEnvio.nombre }}</small>
                                            
                                        <hr>
                                    </li>
                                    {% endfor %}
                                </ol>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                   {% endif %}

                   {% if OrdenProduccionDetalleEntregadaZonaEste|length != 0 %}
                    <div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Terminada Zona Este <span class="bagde">{{ OrdenProduccionDetalleEntregadaZonaEste| length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                        
                                <ol data-draggable="target" class="list-homepage">
                                    {% for ordenProduccionDetalle in OrdenProduccionDetalleEntregadaZonaEste %}
                                    <li data-draggable="item" data-id="{{ordenProduccionDetalle.id}}">

                                        <p style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};height:5px;"></p>
                                        <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                        <br>
                                        <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                        <br>
                                        <strong>Detalle:</strong>
                                        <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                        <br>
                                        <strong>Estado:</strong>
                                        <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                        <br>
                                        <strong>Prioridad:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                        <br>
                                        <strong>Zona:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.zonaEnvio.nombre }}</small>
                                            
                                        <hr>
                                    </li>
                                    {% endfor %}
                                </ol>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                   {% endif %}

                   {% if OrdenProduccionDetalleEntregadaZonaOeste|length != 0 %}
                    <div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Terminada Zona Oeste <span class="bagde">{{ OrdenProduccionDetalleEntregadaZonaOeste| length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                        
                                <ol data-draggable="target" class="list-homepage">
                                    {% for ordenProduccionDetalle in OrdenProduccionDetalleEntregadaZonaOeste %}
                                    <li data-draggable="item" data-id="{{ordenProduccionDetalle.id}}">

                                        <p style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};height:5px;"></p>
                                        <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                        <br>
                                        <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                        <br>
                                        <strong>Detalle:</strong>
                                        <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                        <br>
                                        <strong>Estado:</strong>
                                        <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                        <br>
                                        <strong>Prioridad:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                        <br>
                                        <strong>Zona:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.zonaEnvio.nombre }}</small>
                                            
                                        <hr>
                                    </li>
                                    {% endfor %}
                                </ol>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                   {% endif %}


                   {% if OrdenProduccionDetalleEntregadaZonaCentro|length != 0 %}
                    <div class="panel panel-orange" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Terminada Zona Centro <span class="bagde">{{ OrdenProduccionDetalleEntregadaZonaCentro| length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                        
                                <ol data-draggable="target" class="list-homepage">
                                    {% for ordenProduccionDetalle in OrdenProduccionDetalleEntregadaZonaCentro %}
                                    <li data-draggable="item" data-id="{{ordenProduccionDetalle.id}}">

                                        <p style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};height:5px;"></p>
                                        <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                        <br>
                                        <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                        <br>
                                        <strong>Detalle:</strong>
                                        <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                        <br>
                                        <strong>Estado:</strong>
                                        <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                        <br>
                                        <strong>Prioridad:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                        <br>
                                        <strong>Zona:</strong>
                                        <small >{{ ordenProduccionDetalle.ordenProduccion.zonaEnvio.nombre }}</small>
                                            
                                        <hr>
                                    </li>
                                    {% endfor %}
                                </ol>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                   {% endif %}




                </div><!-- /.col -->
                <div class="col-xs-12 col-md-3"><!-- .col -->

                    <div class="panel panel-blue" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Definir Ruta de Despacho</h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->

                            <button type="button" id="btn-revisar" class="btn btn-inverse btn-raised">
                                Guardar
                            </button>

                            <form enctype='multipart/form-data' id="form-ruta" method="POST" action="{{path('orden_despacho')}}">

                                <select hidden="" id="select-ruta" multiple="multiple" name='destino[]'>
                                  
                                </select>

                            </form>

                            <ol data-draggable="target" id="list-destino"></ol>


                        </div><!-- /.panel-body -->

                    </div><!-- /.panel -->
                </div><!-- /.col -->

                <div class="col-xs-12 col-md-3"><!-- .col -->
                    <div class="panel panel-danger" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Despacho <span class="bagde">{{ ordenProduccionDetalleDespacho|length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                            {% if ordenProduccionDetalleDespacho|length != 0 %}
                            <table class="table table-data" class="col-md-3">
                                <thead class="col-md-3">
                                    <tr>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ordenProduccionDetalle in ordenProduccionDetalleDespacho %}
                                        <tr>
                                            <td>
                                                <div class="col-xs-8"><!-- .col -->
                                                    <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                                    <br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                                    <br>
                                                    <strong>Detalle:</strong>
                                                    <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                                    <br>
                                                    <strong>Estado:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                                    <br>
                                                    <strong>Prioridad:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                                </div><!-- /.col -->
                                                <div class="col-xs-4 text-center"><!-- .col -->
                                                    <a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
                                                        <i class="fa fa-chevron-right fa-2x"></i>
                                                    </a>
                                                    
                                                </div><!-- /.col -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h1 class="text-center">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No existen registros.
                            </h1>
                            {% endif %}

                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    
                </div><!-- /.col -->

                <div class="col-xs-12 col-md-3"><!-- .col -->
                    <div class="panel panel-teal" data-widget="{'draggable':'false'}"><!-- .panel -->
                        <div class="panel-heading"><!-- .panel-heading -->
                            <h2>Entregada <span class="bagde">{{ ordenProduccionDetalleEntregada|length }}</span></h2>
                        </div><!-- /.panel-heading -->
                        <div class="panel-body"><!-- .panel-body -->
                            {% if ordenProduccionDetalleEntregada|length != 0 %}
                            <table class="table table-data">
                                <thead>
                                    <tr>
                                        <th>Detalles</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for ordenProduccionDetalle in ordenProduccionDetalleEntregada %}
                                        <tr>
                                            <td>
                                                <div class="col-xs-8"><!-- .col -->
                                                    <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }}</strong>
                                                    <br>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.destinatarioNombres ~ " " ~ ordenProduccionDetalle.ordenProduccion.destinatarioApellidos }}</small>
                                                    <br>
                                                    <strong>Detalle:</strong>
                                                    <small>{{ ordenProduccionDetalle.detalle ~ " (" ~ ordenProduccionDetalle.precio ~ ")" }}</small>
                                                    <br>
                                                    <strong>Estado:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccionEstado }}</small>
                                                    <br>
                                                    <strong>Prioridad:</strong>
                                                    <small>{{ ordenProduccionDetalle.ordenProduccion.prioridad }}</small>
                                                </div><!-- /.col -->
                                                <div class="col-xs-4 text-center"><!-- .col -->
                                                    <a href="{{path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id})}}" class="btn btn-raised" style="background:{{ordenProduccionDetalle.ordenProduccion.prioridad.color}};">
                                                        <i class="fa fa-chevron-right fa-2x"></i>
                                                    </a>
                                                    
                                                </div><!-- /.col -->
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h1 class="text-center">
                                <i class="fa fa-exclamation-triangle fa-2x"></i>
                                <br>
                                No existen registros.
                            </h1>
                            {% endif %}

                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                    
                </div><!-- /.col -->

                            
                            

            </div><!-- /.row -->
		</div> <!-- /.container-fluid -->
                            
	</div> <!-- #page-content -->



{% endblock %}

