{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-content"><!-- .page-content -->
        <ol class="breadcrumb"><!-- .breadcrumb -->
            <li>
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li>
                <a href="{{ path('usuario_index') }}">Usuarios</a>
            </li>
            <li class="active">
                Crear
            </li>
        </ol><!-- /.breadcrumb -->
        <div class="page-heading"><!-- .page-heading -->
            <h1>Usuarios
                <small>Crear</small>
            </h1>
            <div class="options">
                <a href="{{ path('usuario_index') }}" class="btn btn-info btn-raised" data-toggle="tooltip" data-placement="top" title="Volver al listado">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
        </div><!-- /.page-heading -->

        <div class="container-fluid"><!-- .container-fluid -->
            <div class="row"><!-- .row -->
                <div class="col-sm-6"><!-- .col -->
                    <div class="panel panel-primary" data-widget='{"draggable": "false"}'><!-- .panel -->
                        <div class="panel-heading">
                            <h2>Formulario</h2>
                        </div>
                        <div class="panel-body"><!-- .panel-body -->
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Nombre:</label>
                                            {{ form_widget(form.nombre, { 'attr': {'placeholder':'Digite Nombre','class':'form-control text-upper-case' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Apellido:</label>
                                            {{ form_widget(form.apellido, { 'attr': {'placeholder':'Digite Apellido','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Identificación:</label>
                                            {{ form_widget(form.identificacion, { 'attr': {'placeholder':'Digite Identificación','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Teléfono:</label>
                                            {{ form_widget(form.telefono, { 'attr': {'placeholder':'Digite Telefono','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Correo:</label>
                                            {{ form_widget(form.correo, { 'attr': {'placeholder':'Digite Correo','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group input-icon right">
                                            <label>Dominio correo:</label>
                                            <i class="fa fa-chevron-down"></i>
                                            <select class="form-control" name="dominioCorreo">
                                                <option value="">Selecciona...</option>
                                                <option value="@gmail.com">@gmail.com</option>
                                                <option value="@hotmail.com">@hotmail.com</option>
                                                <option value="@yahoo.com">@yahoo.com</option>
                                            </select>
                                        </div>
                                    </div>                                    
                                    <div class="col-sm-3">
                                        <div class="form-group input-icon right">
                                            <label>Estado:</label>
                                            <i class="fa fa-chevron-down"></i>
                                            {{ form_widget(form.estado, { 'attr': {'class':'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group input-icon right">
                                            <label>Tipo:</label>
                                            <i class="fa fa-chevron-down"></i>
                                            {{ form_widget(form.role, { 'attr': {'class':'form-control' }}) }}
                                        </div>
                                    </div>

                                    {% if usuario.role == 'ROLE_ADMIN' %}
                                         <div class="col-sm-3">
                                            <div class="form-group">
                                                <label>Pin:</label>
                                                {{ form_widget(form.pin, { 'attr': {'placeholder':'Digite Pin','class':'form-control' }}) }}
                                            </div>
                                        </div>
                                        {% else %}
                                            {{ form_widget(form.pin, { 'attr': {'class':'input-hidden' }}) }}
                                    {% endif %}
                                    
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-raised">
                                            Crear
                                        </button>
                                    </div>
                                </div>      
                            {{ form_end(form) }}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        
    </div><!-- /.page-content -->
{% endblock %}