{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-content"><!-- .page-content -->
        <ol class="breadcrumb"><!-- .breadcrumb -->
            <li class="">
                <a href="{{path('homepage')}}">Inicio</a>
            </li>
            <li class="">
                <a href="{{path('cliente_index')}}">Clientes</a>
            </li>
            <li class="">
                <a href="{{path('cliente_show',{'id':cliente.id})}}">
                    {{cliente}}
                </a>
            </li>
            <li class="">
                Referencia
            </li>
        </ol><!-- /.breadcrumb -->
        <div class="page-heading"><!-- .page-heading -->
            <h1>Referencia
                <small>Nueva</small>
            </h1>
            <div class="options">
                <a href="{{path('cliente_show',{'id':cliente.id})}}" class="btn btn-inverse btn-raised" data-toggle="tooltip" data-placement="left" title="Volver">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
        </div><!-- /.page-heading -->

        <div class="container-fluid"><!-- .container-fluid -->
            <div class="row"><!-- .row -->
                <div class="col-sm-6"><!-- .col -->
                    <div class="panel panel-primary" data-widget='{"draggable": "false"}'><!-- .panel -->
                        <div class="panel-heading">
                            <h2>Formulario</h2>                            
                        </div>
                        <div class="panel-body"><!-- .panel-body -->
                            {{ form_start(form) }}
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Cliente:</label>
                                            <strong>{{cliente}}</strong>
                                            {{ form_widget(form.cliente, { 'attr': {'class':'form-control select-hidden select-entity', 'data-id':cliente.id }}) }}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Identificación:</label>
                                            {{ form_widget(form.identificacion, { 'attr': {'placeholder':'Ingrese Identificación','class':'form-control','required':'required' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Nombre:</label>
                                            {{ form_widget(form.nombre, { 'attr': {'placeholder':'Digite Nombre','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Apellido:</label>
                                            {{ form_widget(form.apellido, { 'attr': {'placeholder':'Digite Apellido','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group input-icon right">
                                            <label>Parentesco:</label>
                                            <i class="fa fa-chevron-down"></i>
                                            {{ form_widget(form.parentesco, { 'attr': {'class':'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Teléfono:</label>
                                            {{ form_widget(form.telefono, { 'attr': {'placeholder':'Digite Teléfono','class':'form-control', 'required':'required' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Correo:</label>
                                            {{ form_widget(form.correo, { 'attr': {'placeholder':'Digite Correo','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group input-icon right">
                                            <label>Dominio correo:</label>
                                            <i class="fa fa-chevron-down"></i>
                                            <select class="form-control" name="dominioCorreo">
                                                <option value="">Selecciona...</option>
                                                <option value="@gmail.com">@gmail.com</option>
                                                <option value="@hotmail.com">@hotmail.com</option>
                                                <option value="@yahoo.com">@yahoo.com</option>
                                            </select>
                                        </div>
                                    </div> 
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Dirección:</label>
                                            {{ form_widget(form.direccion, { 'attr': {'placeholder':'Digite Dirección','class':'form-control', 'required':'required' }}) }}
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class='form-group'>
                                            <label>Fecha Especial:</label>
                                            <input type='text' class="form-control datepicker" name="fechaEspecial" value="{{ 'now'|date('Y-m-d') }}" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group input-icon right">
                                            <label>Descripción de la fecha:</label>
                                            <i class="fa fa-chevron-down"></i>
                                            {{ form_widget(form.descripcionFecha, { 'attr': {'placeholder':'Digite Descripción','class':'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>
                                        
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Intereses:</label>
                                            {{ form_widget(form.interesPersona, { 'attr': {'class':'form-control' }}) }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-raised">
                                            Crear
                                        </button>
                                    </div>
                                </div>      
                            {{ form_end(form) }}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- .page-content -->
{% endblock %}
