{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-content"><!-- .page-content -->
        <ol class="breadcrumb"><!-- .breadcrumb -->
            <li class="">
                <a href="{{path('homepage')}}">Inicio</a>
            </li>
            <li class="">
                <a href="{{path('parentesco_index')}}">Parentescos</a>
            </li>
            <li class="active">Editar</li>
        </ol><!-- /.breadcrumb -->
        <div class="page-heading"><!-- .page-heading -->
            <h1>Parentescos
                <small>Editar</small>
            </h1>
            <div class="options">
                <a href="{{ path('parentesco_index') }}" class="btn btn-info btn-raised" data-toggle="tooltip" data-placement="top" title="Volver al listado">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="{{ path('parentesco_new') }}" class="btn btn-inverse btn-raised" data-toggle="tooltip" data-placement="top" title="Parentesco">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
        </div><!-- /.page-heading -->
        
        <div class="container-fluid"><!-- .container-fluid -->
            <div class="row"><!-- .row -->
                <div class="col-sm-4"><!-- .col -->
                    <div class="panel panel-primary" data-widget='{"draggable": "false"}'><!-- .panel -->
                        <div class="panel-heading">
                            <h2>Formulario</h2>
                        </div>
                        <div class="panel-body"><!-- .panel-body -->
                            {{ form_start(edit_form) }}
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label>Nombre:</label>
                                            {{ form_widget(edit_form.nombre, { 'attr': {'placeholder':'Digite Nombre','class':'form-control','autofocus':'autofocus' }}) }}
                                        </div>
                                    </div>
                                </div> 

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary btn-raised">
                                            Guardar
                                        </button>
                                    </div>
                                </div>
                            {{ form_end(edit_form) }}
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div><!-- /.page-content -->
{% endblock %}