{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-content"><!-- .page-content -->
        <ol class="breadcrumb"><!-- .breadcrumb -->
            <li class="">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li>
                <a href="{{ path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id}) }}">Orden Produccion</a>
            </li>
            <li class="active">
                Ver
            </li>

        </ol><!-- /.breadcrumb -->
        <div class="page-heading"><!-- .page-heading -->
            <h1>
                Orden Producción: 
                <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }} </strong>
                <small>Ver</small>
            </h1>

            <h1>
                Estado: 
                <strong> {{ ordenProduccionDetalle.ordenProduccionEstado.nombre }} </strong>
                
            </h1>
            <div class="options">
                <a href="3" class="btn btn-info btn-raised" data-toggle="tooltip" data-placement="top" title="Volver al listado">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="#" class="btn btn-inverse btn-raised" data-toggle="tooltip" data-placement="top" title="Mensaje">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="#" class="btn btn-default btn-raised" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="#" class="btn btn-danger btn-raised" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div><!-- /.page-heading -->


               <div class="container-fluid"><!-- .container-fluid -->
               
                    <form action="{{ path('orden_despacho') }}" method="POST" id="formulario">
                        <div class="col-md-5">
                            <select name="origen[]" id="origen" multiple="multiple" size="8" class="col-md-12">
                            {% for ordenProduccionDetalleEstado in ordenProduccionDetalleEstados %}
                                <option value="{{ordenProduccionDetalleEstado.id}}">{{ordenProduccionDetalleEstado.ordenProduccion}}</option>
                            {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                        <input type="button" class="pasar izq" value="Pasar »"><input type="button" class="quitar der" value="« Quitar"><br />
                        <input type="button" class="pasartodos izq" value="Todos »"><input type="button" class="quitartodos der" value="« Todos">
                        </div>
                        <div class="col-md-5">
                            
                        <select class="col-md-12" name="destino[]" id="destino" multiple="multiple" size="8"></select>
                        </div>
                        <p class="clear col-md-offset-5"><input type="submit" class="submit" value="Procesar formulario"></p>
                    </form>
                    
               </div><!-- /.container-fluid -->          	
                    
    </div><!-- /.page-content -->
{% endblock %}