{% extends 'frontend.html.twig' %}

{% block content %}
    <div class="page-content"><!-- .page-content -->
        <ol class="breadcrumb"><!-- .breadcrumb -->
            <li class="">
                <a href="{{ path('homepage') }}">Inicio</a>
            </li>
            <li>
                <a href="{{ path('orden_produccion_show',{'id':ordenProduccionDetalle.ordenProduccion.id}) }}">Orden Produccion</a>
            </li>
            <li class="active">
                Ver
            </li>

        </ol><!-- /.breadcrumb -->
        <div class="page-heading"><!-- .page-heading -->
            <h1>
                Orden Producción: 
                <strong>{{ ordenProduccionDetalle.ordenProduccion.numero }} </strong>
                <small>Ver</small>
            </h1>

            <h1>
                Estado: 
                <strong> {{ ordenProduccionDetalle.ordenProduccionEstado.nombre }} </strong>
                
            </h1>
            <div class="options">
                <a href="3" class="btn btn-info btn-raised" data-toggle="tooltip" data-placement="top" title="Volver al listado">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="#" class="btn btn-inverse btn-raised" data-toggle="tooltip" data-placement="top" title="Mensaje">
                    <i class="fa fa-plus"></i>
                </a>
                <a href="#" class="btn btn-default btn-raised" data-toggle="tooltip" data-placement="top" title="Editar">
                    <i class="fa fa-pencil"></i>
                </a>
                <a href="#" class="btn btn-danger btn-raised" data-toggle="tooltip" data-placement="top" title="Eliminar">
                    <i class="fa fa-trash"></i>
                </a>
            </div>
        </div><!-- /.page-heading -->

        <div class="container-fluid"><!-- .container-fluid -->
               
               <div class="col-md-6">
	               	<h4>Ordenes detalles terminadas</h4>
	                <ol data-draggable="target" class="col-md-6">
	                	{% for ordenProduccionDetalleEstado in ordenProduccionDetalleEstados %}
					        <li data-draggable="item">{{ordenProduccionDetalleEstado.ordenProduccion}}</li>
	                	{% endfor %}


					</ol>
               </div>

				<div class="col-md-6">
	               	<h4>Rutas</h4>
	               	<ol data-draggable="target" class="col-md-6">
				  
					</ol>
	                
               </div>        	

                    
        </div><!-- /.container-fluid -->        
    </div><!-- /.page-content -->
{% endblock %}